@font-face {
  font-family: "AirBalloon";   /*Can be any text*/
  src: local("AirBalloon"),
    url("./fonts/Air Balloon - TTF.ttf") format("truetype");
}

.App {
  text-align: center;
  aspect-ratio: 28 / 48;
  overflow: hidden;
}
